annotated-types
anyio
Aspose.Slides
asttokens
backcall
beautifulsoup4
bs4
catalogue
certifi
chardet
charset-normalizer
click
colorama
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fastapi
filelock
fonttools
fsspec
h11
huggingface-hub
idna
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lxml
matplotlib
matplotlib-inline
nest-asyncio
nltk
numpy
packaging
pandas
parso
pickleshare
Pillow
platformdirs
plotly
prompt-toolkit
psutil
pure-eval
py4j
pyarrow
pydantic
pydantic_core
Pygments
pyparsing
pyspark
python-dateutil
python-pptx
pytz
PyYAML
pyzmq
regex
requests
safetensors
scikit-learn
scipy
seaborn
six
sklearn
sniffio
soupsieve
spark
srsly
stack-data
starlette
tenacity
textblob
threadpoolctl
tokenizers
tornado
tqdm
traitlets
typing_extensions
tzdata
urllib3
uvicorn
wcwidth
XlsxWriter
