annotated-types>=0.0.1
anyio>=0.0.1
Aspose.Slides>=0.0.1
asttokens>=0.0.1
backcall>=0.0.1
beautifulsoup4>=0.0.1
bs4>=0.0.1
catalogue>=0.0.1
certifi>=0.0.1
chardet>=0.0.1
charset-normalizer>=0.0.1
click>=0.0.1
colorama>=0.0.1
comm>=0.0.1
contourpy>=0.0.1
cycler>=0.0.1
debugpy>=0.0.1
decorator>=0.0.1
exceptiongroup>=0.0.1
executing>=0.0.1
fastapi>=0.0.1
filelock>=0.0.1
fonttools>=0.0.1
fsspec>=0.0.1
h11>=0.0.1
huggingface-hub>=0.0.1
idna>=0.0.1
ipykernel>=0.0.1
ipython>=0.0.1
jedi>=0.0.1
joblib>=0.0.1
jupyter_client>=0.0.1
jupyter_core>=0.0.1
kiwisolver>=0.0.1
lxml>=0.0.1
matplotlib>=0.0.1
matplotlib-inline>=0.0.1
nest-asyncio>=0.0.1
nltk>=0.0.1
numpy>=0.0.1
packaging>=0.0.1
pandas>=0.0.1
parso>=0.0.1
pickleshare>=0.0.1
Pillow>=0.0.1
platformdirs>=0.0.1
plotly>=0.0.1
prompt-toolkit>=0.0.1
psutil>=0.0.1
pure-eval>=0.0.1
py4j>=0.0.1
pyarrow>=0.0.1
pydantic>=0.0.1
pydantic_core>=0.0.1
Pygments>=0.0.1
pyparsing>=0.0.1
pyspark>=0.0.1
python-dateutil>=0.0.1
python-pptx>=0.0.1
pytz>=0.0.1
pywin32>=0.0.1
PyYAML>=0.0.1
pyzmq>=0.0.1
regex>=0.0.1
requests>=0.0.1
safetensors>=0.0.1
scikit-learn>=0.0.1
scipy>=0.0.1
seaborn>=0.0.1
six>=0.0.1
sklearn>=0.0.1
sniffio>=0.0.1
soupsieve>=0.0.1
spark>=0.0.1
srsly>=0.0.1
stack-data>=0.0.1
starlette>=0.0.1
tenacity>=0.0.1
textblob>=0.0.1
threadpoolctl>=0.0.1
tokenizers>=0.0.1
tornado>=0.0.1
tqdm>=0.0.1
traitlets>=0.0.1
typing_extensions>=0.0.1
tzdata>=0.0.1
urllib3>=0.0.1
uvicorn>=0.0.1
wcwidth>=0.0.1
XlsxWriter>=0.0.1
